<configuration>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            Add transaction MDC transactionId-->
            <pattern>%d{HH:mm:ss.SSS} [%X{transactionId}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Optional: specific package logging level -->
    <logger name="com.jsalva.gymsystem" level="DEBUG" />
</configuration>
